body, td {
	font-family: Arial;
	margin: 20px 5px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

h1 {
	font-family: ff-mach-web-pro-1,ff-mach-web-pro-2;
	font-weight: 900;
	margin: 0;
	padding-top: 16px; /* IE */
}

h2 {
	padding: 4px 0;
	font-size: 160%;
	margin: 15px 0 5px 0;
	border-bottom: 1px solid #ddd; 
}

input {
	font-size: 150%;
	margin-bottom: 6px;
}

#us {
	margin-top: 10px;
}

.pagetitle {
    line-height: 2em;
}

.col {
	display: inline-block;
	max-width: 800px;
	width: 90%;
	margin: 0 8px;
	text-align: left;
	vertical-align: top;

}

.footer {
	text-align: center;
	clear: both;
	font-size: 75%;
	color: silver;
	width: 380px;
	padding: 10px;
	border-top: 1px solid silver;
	margin: 2em 1em 1em 1em;
}

#links a, #links a:link {
    color: #e80;
    margin: 0 4px;
}

a, a:visited, a:link {
	color: #aaa;
	text-decoration: none;
}

#spotify a, #spotify a:visited, #spotify a:link { color: #6a2; }
#rdio a, #rdio a:visited, #rdio a:link { color: #27e; }
#grooveshark a, #grooveshark a:visited, #grooveshark a:link { color: #e80; }
#mog a, #mog a:visited, #mog a:link { color: #444; }
#soundcloud a, #soundcloud a:visited, #soundcloud a:link { color: #f52a04; }
#bandcamp a, #bandcamp a:visited, #bandcamp a:link  { color: #619aa9; }

a:hover {
	text-decoration: underline;
}	

.result-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #eeeeee;
	font-size: 12px;
	position: relative;
	clear: both;
	line-height: 20px;
	white-space: nowrap;
}

.result-list li:last-child {
	border-bottom: none;
}

.result-list li a {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.result-list {
	margin: 0;
	padding: 0; 
}

.num-results {
	color: #bbb;
	font-size: 66%;
}

.loading {
	display: none;
	text-align: center;
	margin: 1em;
	width: 100%;
}

.note {
	text-align: center;
	margin: 2em 0;
	padding: 0 15%;
	color: #ccc;
}

.album {
	font-size: 90%;
	color: gray;
	display: inline-block;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.refresh { cursor: pointer; }
.refresh img {
	border: 0;
	vertical-align: middle;
}

.logo {
	float: right; 
	height: 24px;
	padding: 3px; 
	border: 0;
}

.brick {
	display: inline-block;
	margin: 0px 20px;
}

.Button {
	position: relative;
	cursor: pointer;
	display: inline-block;
	border: 0;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px -1px 2px #aaa, 1px 2px 0px white;
	background: #eee;
	padding: 7px 16px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-moz-box-shadow:inset 0px 0px 0px;
	box-shadow: 0 2px 1px #aaa, 0 6px 1px #888, 0 10px 16px rgba(0,0,0, .33);
	color: #666;
	margin: 0px 10px 4px 15px;
	vertical-align: bottom;
}

.Button:active {
	box-shadow: 0 2px 2px #888, 0 0px 3px #888, 0 3px 8px rgba(0,0,0, .15);
	border: 0;
	margin-top: 4px;
	margin-bottom:  0px;
}

#theFist {
	display: none;
	position: absolute;
	top: -500px;
}

#punch {
	display: none;
}