h2 {
	border-bottom: 1px solid #ccc; 
	margin-bottom: 0;
	margin-top: 0;
	border-top: 1px solid #CCC;
}

.col {
	max-width: 800px;
	width: 90%;
}

.result-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #eeeeee;
	font-size: 12px;
	position: relative;
	clear: both;
	line-height: 20px;
	white-space: nowrap;
}

.result-list {
	margin: 0;
	padding: 0; 
	overflow: auto;
}

.album {
	font-size: 90%;
	color: gray;
	display: inline-block;
	width: 50%;
}

.result-list li a {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;
	max-height: none;
	overflow: hidden;
	text-overflow: ellipsis;
}